# web3
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=""
NEXT_PUBLIC_RPC_URL=""

# database
MONGODB_URI="mongodb+srv://<username>:<password>@<cluster-url>/"
MONGODB_DB="signote"

# auth
NEXTAUTH_URL="http://localhost:5000"
NEXTAUTH_SECRET=""

# google oauth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# aws s3
AWS_S3_BUCKET=""
AWS_S3_REGION=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_S3_ENDPOINT=""

# cron job
CRON_SECRET=""
