NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=""
NEXT_PUBLIC_RPC_URL=""
MONGODB_URI="mongodb+srv://<username>:<password>@<cluster-url>/"
MONGODB_DB="signote"
NEXTAUTH_URL="http://localhost:5000"
NEXTAUTH_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
