.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0px 20px;
  cursor: pointer;

  @include basic-transition;

  &:focus {
    outline: none;
  }
}

.primary {
  background: var(--primary-100);
  color: var(--white);

  &:not(.disabled):hover {
    background: var(--primary-200);
  }

  &:not(.disabled):active {
    background: var(--primary-200);
  }

  &.disabled {
    opacity: 0.4;
  }
}

.secondary {
  background-color: var(--white);
  color: var(--black);

  &:not(.disabled):hover {
    background-color: var(--salad-100);
  }

  &:not(.disabled):active {
    background-color: var(--salad-100);
  }
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.size-36 {
  height: 36px;
  border-radius: 12px;
}

.size-52 {
  height: 52px;
  border-radius: 16px;
}

.size-80 {
  height: 64px;
  border-radius: 28px;
  border-radius: 16px;

  @include md {
    border-radius: 28px;
    color: var(--black);
    height: 80px;
    backdrop-filter: blur(16px);
    box-shadow: 12px 12px 0px -4px #ffffff;
  }
}
