.container {
  width: 36px;
  height: 24px;
  padding: 3px;
  border-radius: 36px;
  cursor: pointer;
  // background-color: var(--surface-100);

  transition: all 0.1s ease-out;

  &.active {
    // background-color: var(--primary-100);
  }

  &.disabled {
    cursor: not-allowed;
  }
}

.switch {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  // background-color: var(--secondary-hover-100);

  transition: all 0.3s ease-out;

  &.active {
    margin-left: 12px;
  }
}
