@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-code-bg: var(--code-bg);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar: var(--sidebar);
  --color-primary-500: var(--primary-500);
  --color-primary-400: var(--primary-400);
  --color-primary-300: var(--primary-300);
  --color-primary-200: var(--primary-200);
  --color-primary-100: var(--primary-100);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --note-yellow: oklch(0.97 0.05 97);
  --note-red: oklch(97.352% 0.01291 16.908);
  --note-blue: oklch(0.97 0.016 233);
  --note-green: oklch(0.98 0.03 150);
  --note-clay: oklch(0.96 0.02 60);
  --note-gray: oklch(0.97 0 0);
  --note-purple: oklch(0.99 0.03 330);
  --code-bg: oklch(80% 0.00008 270 / 0.2);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --primary: oklch(0.67 0.16 58);
  --primary-foreground: oklch(0.99 0.02 95);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.58 0.22 27);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --primary-100: oklch(0.88 0.15 92);
  --primary-200: oklch(0.77 0.16 70);
  --primary-300: oklch(0.67 0.16 58);
  --primary-400: oklch(0.56 0.15 49);
  --primary-500: oklch(0.47 0.12 46);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
}

.dark {
  --note-yellow: oklch(0.3 0.07 90);
  --note-red: oklch(0.27 0.06 15);
  --note-blue: oklch(0.26 0.06 250);
  --note-green: oklch(0.27 0.06 148);
  --note-clay: oklch(0.28 0.05 55);
  --note-gray: oklch(0.33 0 0);
  --note-purple: oklch(26.841% 0.06119 307.248);
  --code-bg: oklch(50% 0 270 / 0.2);
  --background: oklch(0% 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --primary: oklch(0.77 0.16 70);
  --primary-foreground: oklch(0.28 0.07 46);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --primary-100: oklch(0.88 0.15 92);
  --primary-200: oklch(0.77 0.16 70);
  --primary-300: oklch(0.67 0.16 58);
  --primary-400: oklch(0.56 0.15 49);
  --primary-500: oklch(0.47 0.12 46);
  --sidebar: oklch(0.205 0 0);
}

@layer base {
  * {
    border-color: var(--color-border);
    outline-color: var(--color-ring);
  }
  body {
    background-color: var(--color-background);

    background-attachment: fixed;
    color: var(--color-foreground);
  }
}
