.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logoIcon {
  margin-bottom: 6px;
  margin-right: 4px;
  width: 28px;
  height: 28px;
}

.logoText {
  font-size: 17px;
  font-weight: 700;
  letter-spacing: -0.3px;
}
