.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logoIcon {
  margin: 0 8px;
  width: 19px;
  height: 32px;
}

.logoText {
  font-size: 17px;
  font-weight: 700;
  letter-spacing: -0.3px;
}
