.iconButton {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    outline: none;
  }

  &:not(.disabled):hover {
    // color: var(--high-contrast-100);
  }

  @include basic-transition;
}

.disabled {
  cursor: not-allowed;
}
