.modalContainer {
  top: auto;
  left: auto;
  transform: none;
  bottom: 0;
  min-height: fit-content;
  border-radius: 12px 12px 0 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2px;
  max-height: 90vh;
  overflow-y: scroll;
}
